# Tours of Campus

We are interested in 'tours' of campus that start and end at a given point, and visit all other points exactly once.

- How Many Different Paths Are Possible?

#### A Simpler Example

To understand how we can represent and count tours for our problem, let's consider a map with only 3 points.

A valid tour of such a map could be represented as a list of the integers 1 through 3, such as ```[1, 2, 3]```.

For this map, there are 6 possible tour representations: ```[1, 2, 3]```, ```[1, 3, 2]```, ```[2, 1, 3]```, ```[2, 3, 1]```, ```[3, 1, 2]```, ```[3, 2, 1]```

However, considering that tours return back to their starting point, some of these representations are effectively equivalent in the case of our problem:
- ```[1, 2, 3]``` = ```[2, 3, 1]``` = ```[3, 1, 2]```
- ```[1, 3, 2]``` = ```[3, 2, 1]``` = ```[2, 1, 3]```

While there were 3! ways to represent solutions to the problem, there are only 2! meaningfully different tours represented in terms of the sequence of points visited.

For our problem, there are (n-1)! meaningfully different ways to conduct a tour of a map with n points.

We can think of this as choosing a specific point as the starting point for all solutions.

#### Number of Ways to Tour Campus

As there are 50 points on our map of campus, there are 49! different tours to be considered:

```
49! = 608,281,864,034,267,560,872,252,163,321,295,376,887,552,831,379,210,240,000,000,000
```

While we'd like to review each individually, this is completely unfeasible due to the vast number of solutions to evaluate.

Instead, we will use **Monte Carlo Sampling** to estimate the distribution of path lengths for solutions to our problem.

#### Importing Packages

In [1]:
import random
import numpy as np
import pandas as pd

#### Loading the Dataset

In [4]:
data = pd.read_csv("map_data.csv")
data.head()

   id    x    y
0   1  453   68
1   2  678  108
2   3  556  168
3   4  461  205
4   5  836  234

#### Monte Carlo Sampling

In [2]:
# generating initial state

number_of_points = 50
values = [(i+1) for i in range(number_of_points)]

In [3]:
# creating permutations of the solution state

sample_size = 10
for i in range(sample_size):
    shuffled_values = values[:]
    random.shuffle(shuffled_values)